/* Start ng css sa clicked_info.html */
.img-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.img-container:hover{
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
}

.img-container img {
  border-radius: 10px;
}
/* End ng css sa clicked_info.html */
/* Start ng css sa classification.html */
.class-img:hover{
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.7);
}

.card-text p {
  justify-content: center;
}
/* End ng css sa classification.html */
/* Start ng css sa based.html */
.form-inline .search-input{
  text-decoration: underline;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.old-bv {
    font-size: 20px;
    background-color: purple;
}

.search {
    background-color: purple;
    border-color: purple;
    color: white;
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.div-wrapper {
    height: 200px;
    margin-top: 40px;
    border: 2px dashed #ddd;
    border-radius: 8px;
}
 
.div-to-align {
    width: 75%;
    padding: 40px 20px;
}
/* End ng css sa base.html */
/* Classification_view.html*/
.lead {
  text-indent: 1em;
}

