{% load static %}
<header class="site-header">
  <nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'blog:blog-front' %}"> <img src="{% static 'blog/images/purpleWCDog.png'%}" height="30" width="50"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <div class="ml-auto d-flex text-center">
        <ul class="navbar-nav ml-auto mr-auto">
          <li class="nav-item active"><a class="nav-link" href="{% url 'blog:blog-home' %}">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'blog:blog-classification' %}">Classification</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'blog:blog-funfacts' %}">Fun Facts</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
