{% load static %}

<div class="col-md-4 mt-2">
          <div class="content-section">
            <h3>Others {{ selected_animal_type }}</h3>
            <p class='text-muted'>Maybe you would like to findout more about ... {{ selected_animal_type }}
            
                {% for post in posts %}
                  <ul class="list-group pb-2 text-center ">
                    <li class="list-group-item list-group-item-light list-group-item-action text-decoration-none text-reset zoom-container">
                      <a class="btn btn-bg-white px-5 py-x mx-auto my-auto" href="{% url 'blog:blog-info' post.animal %}">{{ post.animal }}</a>
                    </li>
                  </ul>
                {% endfor %}
              
            </p>
          </div>
        </div>